/*Author:
    MUNTASIR AHMED
    muntasir1955051@gmail.com
    https://www.linkedin.com/in/muntasir-ahmed-734166147 
    Copyright
*/
*{
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden;
    
}
/*Logo*/
.content img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/*header*/
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #e07272;
    width: 100vw;
    z-index: 10;
}
/*Options*/
.options{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
/*Contents: logo and options*/
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.content img{
    margin-left: 10%;
}
/*Options font-size: a*/
.item a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
}
/*Main
Sections
Examples*/
.example2 img{
    height: 600px;
    width: 600px;
    border-radius: 5%;
}
main{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.example{
    /* background-color: #e07272; */
    display: flex;
    column-gap: 8%;
    width: 95%;
    justify-content: center;
    align-items: center;
}
.example1 h6{
    font-size: 1.125rem;
    letter-spacing: 4px;
}
.example1 h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 20px;
}
.example1 p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.example1 address{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}
#small{
    margin-top: 35px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin-bottom: 35px;
}
.example1 button{
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 47px 20px 47px;
    border: 1px solid red;
    border-bottom-left-radius: 25% 100%;
    border-bottom-right-radius: 25% 100%;
    border-top-left-radius: 25% 100%;
    border-top-right-radius: 25% 100%;
}
.example1 button:hover{
    background-color: black;
    color: white;
    border: none;
    border: 1px solid black;
}
/*Small banner*/
.small_banner{
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: static;
    /* background-color: #c66464; */
    
}
.small_banner img{
    width: 100px;
    height: 100px;
}
.vector{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 60px 0 60px 0;
}
/*Background*/
.back{
    background-image: url("../photos/back.jpg");
    width: 100%;
    height: 495px;
    object-fit: cover;
    background-size: cover;
    background-position: 50% 50%;
    vertical-align: middle;
    position: relative;
    z-index: 0;
}
.back h1{
    text-align: center;
    position: absolute;
    font-size: 61px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/*Pizza Menu*/
.pizza{
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0px 30px;
    background-color: #fff;
    z-index: 1;
}
.pizza h6{
    text-align:start;
    width: 305px;
    margin: 20px 20px 20px 0;
    line-height: 1.5;
}
.pizza p{
    text-align:start;
    width: 305px;
    margin: 20px 20px 30px 0;
    line-height: 1.5;
}
.pizza img{
    width: 306px;
    height: 258px;
}
.pizza_container{
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;

}

.pizza_items{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin-top: -10%;
}
#freepik{
    width: 100%;
    display: block;
    font-size: 18px;
    margin: 36px;
    text-align: center;
    color: white;
}
/*Appetizers and Hero*/
.writings{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1A1A1A;
    column-gap: 20%;
    padding: 100px;
}


.write1 h2{
    font-size: 36px;
    color: red;
    /* margin-left: -60%; */
    margin-top: 20%;
}
.write1 h4{
    color: white;
    font-size: 24px;
    /* margin-left: -60%; */
    margin-top: 10%;
}
.write1 p{
    color: #999999;
    line-height: 30px;
    font-size: 18px;
    margin: 8% 0% 0 0%;
    font-style: italic;
    width: 380px;
}
.price{
    color: #999999;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    /* margin-left: -60%; */
}
.write1{
    margin-left: -6%;
}
.write2{
    margin-left: -20%;
}
.write2 h2{
    font-size: 36px;
    color: red;
    /* margin-left: -300%; */
    margin-top: 20%;
}
.write2 h4{
    color: white;
    font-size: 24px;
    /* margin-left: -60%; */
    margin-top: 10%;
}
.write2 p{
    color: #999999;
    line-height: 30px;
    font-size: 18px;
    margin: 8% 0% 0 0%;
    font-style: italic;
    width: 380px;
}
.price{
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    /* margin-left: -60%; */
}
/*Second Background*/
.back2{
    width: 100%;
}
.back2 img{
    width: 100%;
    height: 718px;
    object-fit: cover;
    background-size: cover;
    background-position: 20% 20%;
    vertical-align: middle;
}

.write3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    background-color: #E73D0C;
}
.writy{
    background-color: #E73D0C;
    width: 90%;
}
.part1 h2{
    color: white;
}
.part1 p{
    color: white;
    line-height: 30px;
    font-size: 18px;
}
/* .part1 .price{
    color: white;
} */
.part2 h2{
    color: white;
}
.part2 p{
    color: white;
    line-height: 30px;
    font-size: 18px;
}

.delivery_guy{
    z-index: 5;
    padding: 30px 50px;
    width: 678px;
    height: 406px;
    color: white;
    background-color: #fff;
    margin-top: -10%;

}
.delivery_guy p{
    line-height: 25px;
    text-align:center;
    padding: 20px;
    font-size: 18px;
    margin: 20px 0 0 0;
    color: #111111;
}
.delivery_guy h2{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #111111;
}
#text{
    text-align: center;
    margin-top: 30px;
    color: #111111;
}
.delivery_guy button{
    margin: 10% 0% 0 37%;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 47px 20px 47px;
    border: 1px solid red;
    border-bottom-left-radius: 25% 100%;
    border-bottom-right-radius: 25% 100%;
    border-top-left-radius: 25% 100%;
    border-top-right-radius: 25% 100%;
}
.delivery_guy button:hover{
    background-color: black;
    color: white;
    border: none;
    border: 1px solid black;
}
.back2text{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
/*Cover or Back 3*/
.ourstory{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.back3 img{
    width: 470px;
    height: 520px;
    /* padding: 60px 0 60px 0; */
    border-radius: 10%;
    margin: 60px 0 60px 0;
    /* border: 1px solid red; */
}
.article{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 587px;
}
.article h2{
    font-size: 36px;
    color: #111111;
}
.article p{
    word-wrap: break-word;
    text-align: center;
    font-size: 18px;
    margin: 20px 0 20px 0;
    line-height: 30px;
}
.article ul{
    padding: 20px 0 40px 0;
}
.article ul li{
    font-size: 20px;
    line-height: 30px;
}
.article button{
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 47px 20px 47px;
    border: 1px solid red;
    border-bottom-left-radius: 25% 100%;
    border-bottom-right-radius: 25% 100%;
    border-top-left-radius: 25% 100%;
    border-top-right-radius: 25% 100%;
}
.article button:hover{
    background-color: black;
    color: white;
    border: none;
    border: 1px solid black;
}
/*Bacgournd 4*/
.aboutus{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url("../photos/back4.jpg") center/cover;
    width: 100%;
    height: 556px;
    object-fit: cover;
    background-size: cover;
    background-position: 50% 50%;
    vertical-align: middle;
    position: relative;
}
/* .back4 img{
    width: 100%;
    
    
} */
.portion{
    width: 223px;
    height: 225px;
    margin: 15px;
    background-color: white;
    flex-wrap: wrap;
    /* text-align: center; */
    /* padding: 20px; */
}
.portion h5{
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
}
.portion p{
    font-size: 18px;
    margin-top: 12px;
    text-align: center;
    padding: 10px;
    line-height: 30px;
}
.capacitor{
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
    justify-content: center;
}

.portions{
    display: flex;
    justify-content: center;
    height: 556px;
    align-items: center;
    flex-wrap: wrap;
    /* align-items: center; */
}
.position4{
    text-align: center;
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 690%);
    color: white;
}
/*End*/
footer{
    padding: 20px;
    background-color: #333333;
}
footer p{
    color: white;
    text-align: center;
    line-height: 30px;
    /* padding: 20px; */
}
footer a{
    color: white;
}
footer a:active{
    color: rgb(228, 228, 44);
}